<h1>Icons</h1>

<div class="ody-row">
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon activity">
      <use xlink:href="ody-icons.svg#activity"></use>
    </svg><span class="name">activity</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon airplay">
      <use xlink:href="ody-icons.svg#airplay"></use>
    </svg><span class="name">airplay</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon alert-circle">
      <use xlink:href="ody-icons.svg#alert-circle"></use>
    </svg><span class="name">alert-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon alert-octagon">
      <use xlink:href="ody-icons.svg#alert-octagon"></use>
    </svg><span class="name">alert-octagon</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon alert-triangle">
      <use xlink:href="ody-icons.svg#alert-triangle"></use>
    </svg><span class="name">alert-triangle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon align-center">
      <use xlink:href="ody-icons.svg#align-center"></use>
    </svg><span class="name">align-center</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon align-justify">
      <use xlink:href="ody-icons.svg#align-justify"></use>
    </svg><span class="name">align-justify</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon align-left">
      <use xlink:href="ody-icons.svg#align-left"></use>
    </svg><span class="name">align-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon align-right">
      <use xlink:href="ody-icons.svg#align-right"></use>
    </svg><span class="name">align-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon anchor">
      <use xlink:href="ody-icons.svg#anchor"></use>
    </svg><span class="name">anchor</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon aperture">
      <use xlink:href="ody-icons.svg#aperture"></use>
    </svg><span class="name">aperture</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon archive">
      <use xlink:href="ody-icons.svg#archive"></use>
    </svg><span class="name">archive</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-down">
      <use xlink:href="ody-icons.svg#arrow-down"></use>
    </svg><span class="name">arrow-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-down-circle">
      <use xlink:href="ody-icons.svg#arrow-down-circle"></use>
    </svg><span class="name">arrow-down-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-down-left">
      <use xlink:href="ody-icons.svg#arrow-down-left"></use>
    </svg><span class="name">arrow-down-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-down-right">
      <use xlink:href="ody-icons.svg#arrow-down-right"></use>
    </svg><span class="name">arrow-down-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-left">
      <use xlink:href="ody-icons.svg#arrow-left"></use>
    </svg><span class="name">arrow-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-left-circle">
      <use xlink:href="ody-icons.svg#arrow-left-circle"></use>
    </svg><span class="name">arrow-left-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-right">
      <use xlink:href="ody-icons.svg#arrow-right"></use>
    </svg><span class="name">arrow-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-right-circle">
      <use xlink:href="ody-icons.svg#arrow-right-circle"></use>
    </svg><span class="name">arrow-right-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-up">
      <use xlink:href="ody-icons.svg#arrow-up"></use>
    </svg><span class="name">arrow-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-up-circle">
      <use xlink:href="ody-icons.svg#arrow-up-circle"></use>
    </svg><span class="name">arrow-up-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-up-left">
      <use xlink:href="ody-icons.svg#arrow-up-left"></use>
    </svg><span class="name">arrow-up-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon arrow-up-right">
      <use xlink:href="ody-icons.svg#arrow-up-right"></use>
    </svg><span class="name">arrow-up-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon at-sign">
      <use xlink:href="ody-icons.svg#at-sign"></use>
    </svg><span class="name">at-sign</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon award">
      <use xlink:href="ody-icons.svg#award"></use>
    </svg><span class="name">award</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bar-chart">
      <use xlink:href="ody-icons.svg#bar-chart"></use>
    </svg><span class="name">bar-chart</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bar-chart-2">
      <use xlink:href="ody-icons.svg#bar-chart-2"></use>
    </svg><span class="name">bar-chart-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon battery">
      <use xlink:href="ody-icons.svg#battery"></use>
    </svg><span class="name">battery</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon battery-charging">
      <use xlink:href="ody-icons.svg#battery-charging"></use>
    </svg><span class="name">battery-charging</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bell">
      <use xlink:href="ody-icons.svg#bell"></use>
    </svg><span class="name">bell</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bell-off">
      <use xlink:href="ody-icons.svg#bell-off"></use>
    </svg><span class="name">bell-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bluetooth">
      <use xlink:href="ody-icons.svg#bluetooth"></use>
    </svg><span class="name">bluetooth</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bold">
      <use xlink:href="ody-icons.svg#bold"></use>
    </svg><span class="name">bold</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon book">
      <use xlink:href="ody-icons.svg#book"></use>
    </svg><span class="name">book</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon book-open">
      <use xlink:href="ody-icons.svg#book-open"></use>
    </svg><span class="name">book-open</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon bookmark">
      <use xlink:href="ody-icons.svg#bookmark"></use>
    </svg><span class="name">bookmark</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon box">
      <use xlink:href="ody-icons.svg#box"></use>
    </svg><span class="name">box</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon briefcase">
      <use xlink:href="ody-icons.svg#briefcase"></use>
    </svg><span class="name">briefcase</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon calendar">
      <use xlink:href="ody-icons.svg#calendar"></use>
    </svg><span class="name">calendar</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon camera">
      <use xlink:href="ody-icons.svg#camera"></use>
    </svg><span class="name">camera</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon camera-off">
      <use xlink:href="ody-icons.svg#camera-off"></use>
    </svg><span class="name">camera-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cast">
      <use xlink:href="ody-icons.svg#cast"></use>
    </svg><span class="name">cast</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon check">
      <use xlink:href="ody-icons.svg#check"></use>
    </svg><span class="name">check</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon check-circle">
      <use xlink:href="ody-icons.svg#check-circle"></use>
    </svg><span class="name">check-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon check-square">
      <use xlink:href="ody-icons.svg#check-square"></use>
    </svg><span class="name">check-square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevron-down">
      <use xlink:href="ody-icons.svg#chevron-down"></use>
    </svg><span class="name">chevron-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevron-left">
      <use xlink:href="ody-icons.svg#chevron-left"></use>
    </svg><span class="name">chevron-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevron-right">
      <use xlink:href="ody-icons.svg#chevron-right"></use>
    </svg><span class="name">chevron-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevron-up">
      <use xlink:href="ody-icons.svg#chevron-up"></use>
    </svg><span class="name">chevron-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevrons-down">
      <use xlink:href="ody-icons.svg#chevrons-down"></use>
    </svg><span class="name">chevrons-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevrons-left">
      <use xlink:href="ody-icons.svg#chevrons-left"></use>
    </svg><span class="name">chevrons-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevrons-right">
      <use xlink:href="ody-icons.svg#chevrons-right"></use>
    </svg><span class="name">chevrons-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chevrons-up">
      <use xlink:href="ody-icons.svg#chevrons-up"></use>
    </svg><span class="name">chevrons-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon chrome">
      <use xlink:href="ody-icons.svg#chrome"></use>
    </svg><span class="name">chrome</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon circle">
      <use xlink:href="ody-icons.svg#circle"></use>
    </svg><span class="name">circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon clipboard">
      <use xlink:href="ody-icons.svg#clipboard"></use>
    </svg><span class="name">clipboard</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon clock">
      <use xlink:href="ody-icons.svg#clock"></use>
    </svg><span class="name">clock</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud">
      <use xlink:href="ody-icons.svg#cloud"></use>
    </svg><span class="name">cloud</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud-drizzle">
      <use xlink:href="ody-icons.svg#cloud-drizzle"></use>
    </svg><span class="name">cloud-drizzle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud-lightning">
      <use xlink:href="ody-icons.svg#cloud-lightning"></use>
    </svg><span class="name">cloud-lightning</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud-off">
      <use xlink:href="ody-icons.svg#cloud-off"></use>
    </svg><span class="name">cloud-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud-rain">
      <use xlink:href="ody-icons.svg#cloud-rain"></use>
    </svg><span class="name">cloud-rain</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cloud-snow">
      <use xlink:href="ody-icons.svg#cloud-snow"></use>
    </svg><span class="name">cloud-snow</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon code">
      <use xlink:href="ody-icons.svg#code"></use>
    </svg><span class="name">code</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon codepen">
      <use xlink:href="ody-icons.svg#codepen"></use>
    </svg><span class="name">codepen</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon codesandbox">
      <use xlink:href="ody-icons.svg#codesandbox"></use>
    </svg><span class="name">codesandbox</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon coffee">
      <use xlink:href="ody-icons.svg#coffee"></use>
    </svg><span class="name">coffee</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon columns">
      <use xlink:href="ody-icons.svg#columns"></use>
    </svg><span class="name">columns</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon command">
      <use xlink:href="ody-icons.svg#command"></use>
    </svg><span class="name">command</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon compass">
      <use xlink:href="ody-icons.svg#compass"></use>
    </svg><span class="name">compass</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon copy">
      <use xlink:href="ody-icons.svg#copy"></use>
    </svg><span class="name">copy</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-down-left">
      <use xlink:href="ody-icons.svg#corner-down-left"></use>
    </svg><span class="name">corner-down-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-down-right">
      <use xlink:href="ody-icons.svg#corner-down-right"></use>
    </svg><span class="name">corner-down-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-left-down">
      <use xlink:href="ody-icons.svg#corner-left-down"></use>
    </svg><span class="name">corner-left-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-left-up">
      <use xlink:href="ody-icons.svg#corner-left-up"></use>
    </svg><span class="name">corner-left-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-right-down">
      <use xlink:href="ody-icons.svg#corner-right-down"></use>
    </svg><span class="name">corner-right-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-right-up">
      <use xlink:href="ody-icons.svg#corner-right-up"></use>
    </svg><span class="name">corner-right-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-up-left">
      <use xlink:href="ody-icons.svg#corner-up-left"></use>
    </svg><span class="name">corner-up-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon corner-up-right">
      <use xlink:href="ody-icons.svg#corner-up-right"></use>
    </svg><span class="name">corner-up-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon cpu">
      <use xlink:href="ody-icons.svg#cpu"></use>
    </svg><span class="name">cpu</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon credit-card">
      <use xlink:href="ody-icons.svg#credit-card"></use>
    </svg><span class="name">credit-card</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon crop">
      <use xlink:href="ody-icons.svg#crop"></use>
    </svg><span class="name">crop</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon crosshair">
      <use xlink:href="ody-icons.svg#crosshair"></use>
    </svg><span class="name">crosshair</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon database">
      <use xlink:href="ody-icons.svg#database"></use>
    </svg><span class="name">database</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon delete">
      <use xlink:href="ody-icons.svg#delete"></use>
    </svg><span class="name">delete</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon disc">
      <use xlink:href="ody-icons.svg#disc"></use>
    </svg><span class="name">disc</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon dollar-sign">
      <use xlink:href="ody-icons.svg#dollar-sign"></use>
    </svg><span class="name">dollar-sign</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon download">
      <use xlink:href="ody-icons.svg#download"></use>
    </svg><span class="name">download</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon download-cloud">
      <use xlink:href="ody-icons.svg#download-cloud"></use>
    </svg><span class="name">download-cloud</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon droplet">
      <use xlink:href="ody-icons.svg#droplet"></use>
    </svg><span class="name">droplet</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon edit">
      <use xlink:href="ody-icons.svg#edit"></use>
    </svg><span class="name">edit</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon edit-2">
      <use xlink:href="ody-icons.svg#edit-2"></use>
    </svg><span class="name">edit-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon edit-3">
      <use xlink:href="ody-icons.svg#edit-3"></use>
    </svg><span class="name">edit-3</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon external-link">
      <use xlink:href="ody-icons.svg#external-link"></use>
    </svg><span class="name">external-link</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon eye">
      <use xlink:href="ody-icons.svg#eye"></use>
    </svg><span class="name">eye</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon eye-off">
      <use xlink:href="ody-icons.svg#eye-off"></use>
    </svg><span class="name">eye-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon facebook">
      <use xlink:href="ody-icons.svg#facebook"></use>
    </svg><span class="name">facebook</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon fast-forward">
      <use xlink:href="ody-icons.svg#fast-forward"></use>
    </svg><span class="name">fast-forward</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon feather">
      <use xlink:href="ody-icons.svg#feather"></use>
    </svg><span class="name">feather</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon figma">
      <use xlink:href="ody-icons.svg#figma"></use>
    </svg><span class="name">figma</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon file">
      <use xlink:href="ody-icons.svg#file"></use>
    </svg><span class="name">file</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon file-minus">
      <use xlink:href="ody-icons.svg#file-minus"></use>
    </svg><span class="name">file-minus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon file-plus">
      <use xlink:href="ody-icons.svg#file-plus"></use>
    </svg><span class="name">file-plus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon file-text">
      <use xlink:href="ody-icons.svg#file-text"></use>
    </svg><span class="name">file-text</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon film">
      <use xlink:href="ody-icons.svg#film"></use>
    </svg><span class="name">film</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon filter">
      <use xlink:href="ody-icons.svg#filter"></use>
    </svg><span class="name">filter</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon flag">
      <use xlink:href="ody-icons.svg#flag"></use>
    </svg><span class="name">flag</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon folder">
      <use xlink:href="ody-icons.svg#folder"></use>
    </svg><span class="name">folder</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon folder-minus">
      <use xlink:href="ody-icons.svg#folder-minus"></use>
    </svg><span class="name">folder-minus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon folder-plus">
      <use xlink:href="ody-icons.svg#folder-plus"></use>
    </svg><span class="name">folder-plus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon framer">
      <use xlink:href="ody-icons.svg#framer"></use>
    </svg><span class="name">framer</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon frown">
      <use xlink:href="ody-icons.svg#frown"></use>
    </svg><span class="name">frown</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon gift">
      <use xlink:href="ody-icons.svg#gift"></use>
    </svg><span class="name">gift</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon git-branch">
      <use xlink:href="ody-icons.svg#git-branch"></use>
    </svg><span class="name">git-branch</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon git-commit">
      <use xlink:href="ody-icons.svg#git-commit"></use>
    </svg><span class="name">git-commit</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon git-merge">
      <use xlink:href="ody-icons.svg#git-merge"></use>
    </svg><span class="name">git-merge</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon git-pull-request">
      <use xlink:href="ody-icons.svg#git-pull-request"></use>
    </svg><span class="name">git-pull-request</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon github">
      <use xlink:href="ody-icons.svg#github"></use>
    </svg><span class="name">github</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon gitlab">
      <use xlink:href="ody-icons.svg#gitlab"></use>
    </svg><span class="name">gitlab</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon globe">
      <use xlink:href="ody-icons.svg#globe"></use>
    </svg><span class="name">globe</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon grid">
      <use xlink:href="ody-icons.svg#grid"></use>
    </svg><span class="name">grid</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon hard-drive">
      <use xlink:href="ody-icons.svg#hard-drive"></use>
    </svg><span class="name">hard-drive</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon hash">
      <use xlink:href="ody-icons.svg#hash"></use>
    </svg><span class="name">hash</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon headphones">
      <use xlink:href="ody-icons.svg#headphones"></use>
    </svg><span class="name">headphones</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon heart">
      <use xlink:href="ody-icons.svg#heart"></use>
    </svg><span class="name">heart</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon help-circle">
      <use xlink:href="ody-icons.svg#help-circle"></use>
    </svg><span class="name">help-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon hexagon">
      <use xlink:href="ody-icons.svg#hexagon"></use>
    </svg><span class="name">hexagon</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon home">
      <use xlink:href="ody-icons.svg#home"></use>
    </svg><span class="name">home</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon image">
      <use xlink:href="ody-icons.svg#image"></use>
    </svg><span class="name">image</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon inbox">
      <use xlink:href="ody-icons.svg#inbox"></use>
    </svg><span class="name">inbox</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon info">
      <use xlink:href="ody-icons.svg#info"></use>
    </svg><span class="name">info</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon instagram">
      <use xlink:href="ody-icons.svg#instagram"></use>
    </svg><span class="name">instagram</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon italic">
      <use xlink:href="ody-icons.svg#italic"></use>
    </svg><span class="name">italic</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon key">
      <use xlink:href="ody-icons.svg#key"></use>
    </svg><span class="name">key</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon layers">
      <use xlink:href="ody-icons.svg#layers"></use>
    </svg><span class="name">layers</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon layout">
      <use xlink:href="ody-icons.svg#layout"></use>
    </svg><span class="name">layout</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon life-buoy">
      <use xlink:href="ody-icons.svg#life-buoy"></use>
    </svg><span class="name">life-buoy</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon link">
      <use xlink:href="ody-icons.svg#link"></use>
    </svg><span class="name">link</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon link-2">
      <use xlink:href="ody-icons.svg#link-2"></use>
    </svg><span class="name">link-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon linkedin">
      <use xlink:href="ody-icons.svg#linkedin"></use>
    </svg><span class="name">linkedin</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon list">
      <use xlink:href="ody-icons.svg#list"></use>
    </svg><span class="name">list</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon loader">
      <use xlink:href="ody-icons.svg#loader"></use>
    </svg><span class="name">loader</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon lock">
      <use xlink:href="ody-icons.svg#lock"></use>
    </svg><span class="name">lock</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon log-in">
      <use xlink:href="ody-icons.svg#log-in"></use>
    </svg><span class="name">log-in</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon log-out">
      <use xlink:href="ody-icons.svg#log-out"></use>
    </svg><span class="name">log-out</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon mail">
      <use xlink:href="ody-icons.svg#mail"></use>
    </svg><span class="name">mail</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon map">
      <use xlink:href="ody-icons.svg#map"></use>
    </svg><span class="name">map</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon map-pin">
      <use xlink:href="ody-icons.svg#map-pin"></use>
    </svg><span class="name">map-pin</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon maximize">
      <use xlink:href="ody-icons.svg#maximize"></use>
    </svg><span class="name">maximize</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon maximize-2">
      <use xlink:href="ody-icons.svg#maximize-2"></use>
    </svg><span class="name">maximize-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon meh">
      <use xlink:href="ody-icons.svg#meh"></use>
    </svg><span class="name">meh</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon menu">
      <use xlink:href="ody-icons.svg#menu"></use>
    </svg><span class="name">menu</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon message-circle">
      <use xlink:href="ody-icons.svg#message-circle"></use>
    </svg><span class="name">message-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon message-square">
      <use xlink:href="ody-icons.svg#message-square"></use>
    </svg><span class="name">message-square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon mic">
      <use xlink:href="ody-icons.svg#mic"></use>
    </svg><span class="name">mic</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon mic-off">
      <use xlink:href="ody-icons.svg#mic-off"></use>
    </svg><span class="name">mic-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon minimize">
      <use xlink:href="ody-icons.svg#minimize"></use>
    </svg><span class="name">minimize</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon minimize-2">
      <use xlink:href="ody-icons.svg#minimize-2"></use>
    </svg><span class="name">minimize-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon minus">
      <use xlink:href="ody-icons.svg#minus"></use>
    </svg><span class="name">minus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon minus-circle">
      <use xlink:href="ody-icons.svg#minus-circle"></use>
    </svg><span class="name">minus-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon minus-square">
      <use xlink:href="ody-icons.svg#minus-square"></use>
    </svg><span class="name">minus-square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon monitor">
      <use xlink:href="ody-icons.svg#monitor"></use>
    </svg><span class="name">monitor</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon moon">
      <use xlink:href="ody-icons.svg#moon"></use>
    </svg><span class="name">moon</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon more-horizontal">
      <use xlink:href="ody-icons.svg#more-horizontal"></use>
    </svg><span class="name">more-horizontal</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon more-vertical">
      <use xlink:href="ody-icons.svg#more-vertical"></use>
    </svg><span class="name">more-vertical</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon mouse-pointer">
      <use xlink:href="ody-icons.svg#mouse-pointer"></use>
    </svg><span class="name">mouse-pointer</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon move">
      <use xlink:href="ody-icons.svg#move"></use>
    </svg><span class="name">move</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon music">
      <use xlink:href="ody-icons.svg#music"></use>
    </svg><span class="name">music</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon navigation">
      <use xlink:href="ody-icons.svg#navigation"></use>
    </svg><span class="name">navigation</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon navigation-2">
      <use xlink:href="ody-icons.svg#navigation-2"></use>
    </svg><span class="name">navigation-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon octagon">
      <use xlink:href="ody-icons.svg#octagon"></use>
    </svg><span class="name">octagon</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon package">
      <use xlink:href="ody-icons.svg#package"></use>
    </svg><span class="name">package</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon paperclip">
      <use xlink:href="ody-icons.svg#paperclip"></use>
    </svg><span class="name">paperclip</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon pause">
      <use xlink:href="ody-icons.svg#pause"></use>
    </svg><span class="name">pause</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon pause-circle">
      <use xlink:href="ody-icons.svg#pause-circle"></use>
    </svg><span class="name">pause-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon pen-tool">
      <use xlink:href="ody-icons.svg#pen-tool"></use>
    </svg><span class="name">pen-tool</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon percent">
      <use xlink:href="ody-icons.svg#percent"></use>
    </svg><span class="name">percent</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone">
      <use xlink:href="ody-icons.svg#phone"></use>
    </svg><span class="name">phone</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-call">
      <use xlink:href="ody-icons.svg#phone-call"></use>
    </svg><span class="name">phone-call</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-forwarded">
      <use xlink:href="ody-icons.svg#phone-forwarded"></use>
    </svg><span class="name">phone-forwarded</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-incoming">
      <use xlink:href="ody-icons.svg#phone-incoming"></use>
    </svg><span class="name">phone-incoming</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-missed">
      <use xlink:href="ody-icons.svg#phone-missed"></use>
    </svg><span class="name">phone-missed</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-off">
      <use xlink:href="ody-icons.svg#phone-off"></use>
    </svg><span class="name">phone-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon phone-outgoing">
      <use xlink:href="ody-icons.svg#phone-outgoing"></use>
    </svg><span class="name">phone-outgoing</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon pie-chart">
      <use xlink:href="ody-icons.svg#pie-chart"></use>
    </svg><span class="name">pie-chart</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon play">
      <use xlink:href="ody-icons.svg#play"></use>
    </svg><span class="name">play</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon play-circle">
      <use xlink:href="ody-icons.svg#play-circle"></use>
    </svg><span class="name">play-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon plus">
      <use xlink:href="ody-icons.svg#plus"></use>
    </svg><span class="name">plus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon plus-circle">
      <use xlink:href="ody-icons.svg#plus-circle"></use>
    </svg><span class="name">plus-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon plus-square">
      <use xlink:href="ody-icons.svg#plus-square"></use>
    </svg><span class="name">plus-square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon pocket">
      <use xlink:href="ody-icons.svg#pocket"></use>
    </svg><span class="name">pocket</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon power">
      <use xlink:href="ody-icons.svg#power"></use>
    </svg><span class="name">power</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon printer">
      <use xlink:href="ody-icons.svg#printer"></use>
    </svg><span class="name">printer</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon radio">
      <use xlink:href="ody-icons.svg#radio"></use>
    </svg><span class="name">radio</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon refresh-ccw">
      <use xlink:href="ody-icons.svg#refresh-ccw"></use>
    </svg><span class="name">refresh-ccw</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon refresh-cw">
      <use xlink:href="ody-icons.svg#refresh-cw"></use>
    </svg><span class="name">refresh-cw</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon repeat">
      <use xlink:href="ody-icons.svg#repeat"></use>
    </svg><span class="name">repeat</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon rewind">
      <use xlink:href="ody-icons.svg#rewind"></use>
    </svg><span class="name">rewind</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon rotate-ccw">
      <use xlink:href="ody-icons.svg#rotate-ccw"></use>
    </svg><span class="name">rotate-ccw</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon rotate-cw">
      <use xlink:href="ody-icons.svg#rotate-cw"></use>
    </svg><span class="name">rotate-cw</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon rss">
      <use xlink:href="ody-icons.svg#rss"></use>
    </svg><span class="name">rss</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon save">
      <use xlink:href="ody-icons.svg#save"></use>
    </svg><span class="name">save</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon scissors">
      <use xlink:href="ody-icons.svg#scissors"></use>
    </svg><span class="name">scissors</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon search">
      <use xlink:href="ody-icons.svg#search"></use>
    </svg><span class="name">search</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon send">
      <use xlink:href="ody-icons.svg#send"></use>
    </svg><span class="name">send</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon server">
      <use xlink:href="ody-icons.svg#server"></use>
    </svg><span class="name">server</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon settings">
      <use xlink:href="ody-icons.svg#settings"></use>
    </svg><span class="name">settings</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon share">
      <use xlink:href="ody-icons.svg#share"></use>
    </svg><span class="name">share</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon share-2">
      <use xlink:href="ody-icons.svg#share-2"></use>
    </svg><span class="name">share-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon shield">
      <use xlink:href="ody-icons.svg#shield"></use>
    </svg><span class="name">shield</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon shield-off">
      <use xlink:href="ody-icons.svg#shield-off"></use>
    </svg><span class="name">shield-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon shopping-bag">
      <use xlink:href="ody-icons.svg#shopping-bag"></use>
    </svg><span class="name">shopping-bag</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon shopping-cart">
      <use xlink:href="ody-icons.svg#shopping-cart"></use>
    </svg><span class="name">shopping-cart</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon shuffle">
      <use xlink:href="ody-icons.svg#shuffle"></use>
    </svg><span class="name">shuffle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon sidebar">
      <use xlink:href="ody-icons.svg#sidebar"></use>
    </svg><span class="name">sidebar</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon skip-back">
      <use xlink:href="ody-icons.svg#skip-back"></use>
    </svg><span class="name">skip-back</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon skip-forward">
      <use xlink:href="ody-icons.svg#skip-forward"></use>
    </svg><span class="name">skip-forward</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon slack">
      <use xlink:href="ody-icons.svg#slack"></use>
    </svg><span class="name">slack</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon slash">
      <use xlink:href="ody-icons.svg#slash"></use>
    </svg><span class="name">slash</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon sliders">
      <use xlink:href="ody-icons.svg#sliders"></use>
    </svg><span class="name">sliders</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon smartphone">
      <use xlink:href="ody-icons.svg#smartphone"></use>
    </svg><span class="name">smartphone</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon smile">
      <use xlink:href="ody-icons.svg#smile"></use>
    </svg><span class="name">smile</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon speaker">
      <use xlink:href="ody-icons.svg#speaker"></use>
    </svg><span class="name">speaker</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon square">
      <use xlink:href="ody-icons.svg#square"></use>
    </svg><span class="name">square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon star">
      <use xlink:href="ody-icons.svg#star"></use>
    </svg><span class="name">star</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon stop-circle">
      <use xlink:href="ody-icons.svg#stop-circle"></use>
    </svg><span class="name">stop-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon sun">
      <use xlink:href="ody-icons.svg#sun"></use>
    </svg><span class="name">sun</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon sunrise">
      <use xlink:href="ody-icons.svg#sunrise"></use>
    </svg><span class="name">sunrise</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon sunset">
      <use xlink:href="ody-icons.svg#sunset"></use>
    </svg><span class="name">sunset</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon tablet">
      <use xlink:href="ody-icons.svg#tablet"></use>
    </svg><span class="name">tablet</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon tag">
      <use xlink:href="ody-icons.svg#tag"></use>
    </svg><span class="name">tag</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon target">
      <use xlink:href="ody-icons.svg#target"></use>
    </svg><span class="name">target</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon terminal">
      <use xlink:href="ody-icons.svg#terminal"></use>
    </svg><span class="name">terminal</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon thermometer">
      <use xlink:href="ody-icons.svg#thermometer"></use>
    </svg><span class="name">thermometer</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon thumbs-down">
      <use xlink:href="ody-icons.svg#thumbs-down"></use>
    </svg><span class="name">thumbs-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon thumbs-up">
      <use xlink:href="ody-icons.svg#thumbs-up"></use>
    </svg><span class="name">thumbs-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon toggle-left">
      <use xlink:href="ody-icons.svg#toggle-left"></use>
    </svg><span class="name">toggle-left</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon toggle-right">
      <use xlink:href="ody-icons.svg#toggle-right"></use>
    </svg><span class="name">toggle-right</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon tool">
      <use xlink:href="ody-icons.svg#tool"></use>
    </svg><span class="name">tool</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon trash">
      <use xlink:href="ody-icons.svg#trash"></use>
    </svg><span class="name">trash</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon trash-2">
      <use xlink:href="ody-icons.svg#trash-2"></use>
    </svg><span class="name">trash-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon trello">
      <use xlink:href="ody-icons.svg#trello"></use>
    </svg><span class="name">trello</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon trending-down">
      <use xlink:href="ody-icons.svg#trending-down"></use>
    </svg><span class="name">trending-down</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon trending-up">
      <use xlink:href="ody-icons.svg#trending-up"></use>
    </svg><span class="name">trending-up</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon triangle">
      <use xlink:href="ody-icons.svg#triangle"></use>
    </svg><span class="name">triangle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon truck">
      <use xlink:href="ody-icons.svg#truck"></use>
    </svg><span class="name">truck</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon tv">
      <use xlink:href="ody-icons.svg#tv"></use>
    </svg><span class="name">tv</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon twitch">
      <use xlink:href="ody-icons.svg#twitch"></use>
    </svg><span class="name">twitch</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon twitter">
      <use xlink:href="ody-icons.svg#twitter"></use>
    </svg><span class="name">twitter</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon type">
      <use xlink:href="ody-icons.svg#type"></use>
    </svg><span class="name">type</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon umbrella">
      <use xlink:href="ody-icons.svg#umbrella"></use>
    </svg><span class="name">umbrella</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon underline">
      <use xlink:href="ody-icons.svg#underline"></use>
    </svg><span class="name">underline</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon unlock">
      <use xlink:href="ody-icons.svg#unlock"></use>
    </svg><span class="name">unlock</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon upload">
      <use xlink:href="ody-icons.svg#upload"></use>
    </svg><span class="name">upload</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon upload-cloud">
      <use xlink:href="ody-icons.svg#upload-cloud"></use>
    </svg><span class="name">upload-cloud</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon user">
      <use xlink:href="ody-icons.svg#user"></use>
    </svg><span class="name">user</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon user-check">
      <use xlink:href="ody-icons.svg#user-check"></use>
    </svg><span class="name">user-check</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon user-minus">
      <use xlink:href="ody-icons.svg#user-minus"></use>
    </svg><span class="name">user-minus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon user-plus">
      <use xlink:href="ody-icons.svg#user-plus"></use>
    </svg><span class="name">user-plus</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon user-x">
      <use xlink:href="ody-icons.svg#user-x"></use>
    </svg><span class="name">user-x</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon users">
      <use xlink:href="ody-icons.svg#users"></use>
    </svg><span class="name">users</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon video">
      <use xlink:href="ody-icons.svg#video"></use>
    </svg><span class="name">video</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon video-off">
      <use xlink:href="ody-icons.svg#video-off"></use>
    </svg><span class="name">video-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon voicemail">
      <use xlink:href="ody-icons.svg#voicemail"></use>
    </svg><span class="name">voicemail</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon volume">
      <use xlink:href="ody-icons.svg#volume"></use>
    </svg><span class="name">volume</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon volume-1">
      <use xlink:href="ody-icons.svg#volume-1"></use>
    </svg><span class="name">volume-1</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon volume-2">
      <use xlink:href="ody-icons.svg#volume-2"></use>
    </svg><span class="name">volume-2</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon volume-x">
      <use xlink:href="ody-icons.svg#volume-x"></use>
    </svg><span class="name">volume-x</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon watch">
      <use xlink:href="ody-icons.svg#watch"></use>
    </svg><span class="name">watch</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon wifi">
      <use xlink:href="ody-icons.svg#wifi"></use>
    </svg><span class="name">wifi</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon wifi-off">
      <use xlink:href="ody-icons.svg#wifi-off"></use>
    </svg><span class="name">wifi-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon wind">
      <use xlink:href="ody-icons.svg#wind"></use>
    </svg><span class="name">wind</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon x">
      <use xlink:href="ody-icons.svg#x"></use>
    </svg><span class="name">x</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon x-circle">
      <use xlink:href="ody-icons.svg#x-circle"></use>
    </svg><span class="name">x-circle</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon x-octagon">
      <use xlink:href="ody-icons.svg#x-octagon"></use>
    </svg><span class="name">x-octagon</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon x-square">
      <use xlink:href="ody-icons.svg#x-square"></use>
    </svg><span class="name">x-square</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon youtube">
      <use xlink:href="ody-icons.svg#youtube"></use>
    </svg><span class="name">youtube</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon zap">
      <use xlink:href="ody-icons.svg#zap"></use>
    </svg><span class="name">zap</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon zap-off">
      <use xlink:href="ody-icons.svg#zap-off"></use>
    </svg><span class="name">zap-off</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon zoom-in">
      <use xlink:href="ody-icons.svg#zoom-in"></use>
    </svg><span class="name">zoom-in</span>

  </div>
  <div class="ody-col-2 icons-gallery">

    <svg class="ody-icon zoom-out">
      <use xlink:href="ody-icons.svg#zoom-out"></use>
    </svg><span class="name">zoom-out</span>

  </div>
</div>